<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    <input type="text" placeholder="Media Name" name=txtMediaName>
    <br>
    <input type="radio" name="grpType" value="Image" checked
           class="form-control input_insertstore"> Image
    <input type="radio" name="grpType" value="Video"
           class="form-control  "> Video
    <br>
    <input type="text" placeholder="Media Url" name="txtMediaUrl">
    <br>
    <input type="file" name="ulfMediaUrl" placeholder="E"
           accept="image/*" alt="Product Image"
           class="form-control  input_insertstore">
    <br>
    <input type="submit" value="Thêm">
</form>
</body>
</html>