<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>EJS</title>
</head>
<body>
<form method="post">
City: <input type="text" name="txtCity">
    <br>
    District: <input type="text" name="txtDistrict"> (ngăn cách bởi dấu ",")
    <br>
    <input type="submit" value="Thêm">
</form>
</body>
</html>