.img-store{
    height: 30px;
    width: 30px;
}
.img-addstore{
    height: 100px;
    width: 100px;
}
.cover-addstore{
    height: 100px;
    width: 300px;
}
.img-thumbnil{
    height: 50%;
    width: 50%;
}